<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lpudevteam.lpu_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.name.READ_EXTERNAL_STORATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
